<ion-content class="check-element">
  
      <br><br><br><br><br><br><br><br><br><br><br><br>
      
      <ion-button expand="block" color=danger (click) = "doGoogleLogin()">
      
          <ion-icon md="logo-google" class="absolute-icon"></ion-icon>
               <span class="text-color">   Sign in with Google </span>
      </ion-button>

      <br> 

      <ion-button expand="block" class="change-color" (click)="goMenuPage()">
          <span class="text-color"> Menu Page </span>
      </ion-button>



</ion-content>
