.ios,.md{
  
      
    span.title-change {
        color: white;
        margin-left: 40px;
        font-size: 40px;
        font-family: cursive;
    }


    ion-toolbar.welcome-card {
        --padding-top: 4px;
        --padding-bottom: 4px;
        --padding-start: 4px;
        --padding-end: 4px;
        --min-height: 80px;
        --ion-background-color:  rgb(81, 223, 116);
        --ion-toolbar-background:  rgb(81, 223, 116);
     
     
    }

    ion-col.changeCol-next {
        padding-left:100px;
        margin-left:100px;
    }
    
    ion-label.questions-design {
        --color: blue;
        color: var(--color);
        white-space: wrap !important;
        word-wrap: break-word;
        background: #f4f5f8;
    }

    ion-label.answer-align {
        padding-right: initial;
         margin-left: 20PX;
    }

    ion-button.change-color{
        margin-left: 35px;
        margin-right: 35px; 
    }
    
}
